body {
  background: black;
  text-align: center;
  color: #ddd;
  font-family: Arial;
}

.controls {
  color: #bbb;
}

#cr-stage {
  margin: 20px auto 0;
}

.bottom {
  font-size: 12px;
  color: #888;
  margin-top: 50px;
}

.bottom a {
  color: #aaa;
}